.nav {
  padding: 15px;
  border-bottom: 1px solid #fff;
  width: fit-content;
}

.nav__a {
  color: #fff;
  margin: 0 7.5px;
  transition: .2s;
}

.nav__a__active {
  color: #f69; 
  margin: 0 7.5px;
}

.nav__a:hover {
  opacity: 0.7;
}