.gallery_container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  height: 100%;
  gap: 15px;
}

.gallery_image {
  width: 80px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.1);
  transition: .2s;
  cursor: pointer;
  scroll-snap-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.selected {
  width: 600px;
  height: 400px;
  transform: scale(1.05);
  z-index: 1;
  border: 1px solid #fff;
  box-shadow: #fff 0 0 35px;
}