.presentation {
	text-align: center;
	font-size: calc(7vw + 7vh);
	color: #fff;
	letter-spacing: -.3vw;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
}
