.header {
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
  
    h1 {
      font-size: 25px;
      color: #fff;
      text-transform: uppercase;
      line-height: 25px;
    }
  
    .subtext {
      font-size: 16px;
      color: #ddd;
    }
  }
  