*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background: #111; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    overflow-x: hidden;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    width: min(1400px, 100%);
    height: 100vh;  
}

.manual {
    display: flex;
    margin-top: 60px;
    margin-left: 60px;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: min(1400px, 100%);
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

body::before{
    --size: 45px;
    --line: color-mix(in lch, #fff, transparent 70%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size), linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
    -webkit-mask: linear-gradient(-20deg, transparent 40%, white);
    mask: linear-gradient(-20deg, transparent 40%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
}

.manual th,.manual td{
    border: 1px solid #fff;
    padding: 15px;
}

.manual details {
    border: 1px solid #fff;
  
}

.manual details p {
    padding: 0 0 15px 15px;
}

.manual summary {
    cursor: pointer;
    padding: 15px;
}

.manual details[open] summary {
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.manual details[open] p {
    animation: slideDown 0.3s ease forwards;
}

.manual a {
    outline: 1px solid #fff;
    padding: 15px 30px;
    background: #725bdc; 
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 30px;
}

.manual h2 {
    color: #725bdc;
    border: 3px solid #725bdc;
    max-width: max-content;
    padding: 5px 15px;
    background: #fff;
    margin: 15px 0;
}

.manual a:hover {
    background: #735bdc1e;
    color: #fff;
    backdrop-filter: blur(15px);
}

.manual img {
    max-width: 100%;
    margin: 10px;
    transition: transform 0.3s ease;
    transform: scale(0.95);
}

.manual img:hover {
    transform: scale(1); /* Amplía la imagen al pasar el mouse */
}

.questions{
    display: flex;
    align-items: center;
    border: 1px solid;
    justify-content: center;
    margin: 15px 0;
    padding: 30px 0 30px 30px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3); /* Sombra alrededor */
    backdrop-filter: blur(5px);
}

.nav-buttons button{
    outline: 1px solid #fff;
    padding: 15px 20px;
    background: #725bdc; 
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.nav-buttons button:hover {
    background: #735bdc1e;
    color: #fff;
    backdrop-filter: blur(15px);
}

.links a{
    cursor: pointer;
}

#btnSubir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background: #725bdc; /* Color verde */
    color: white;
    outline: 2px solid #fff;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
    transition: .3s;
}

#btnSubir:hover {
    transform: scale(1.05);
}

@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 500px;
        opacity: 1;
        background: #725bdc;
        padding-top: 15px;
    }
}

footer{
    color: #fff;
    margin-top: 60px;
    padding: 30px 0 30px;
    border-top: 1px solid #fff;
    width: 100%;
    text-align: center;
}

.container{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    background: #fff;
    width: 500px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    border: 5px solid #725bdc;
    padding: 20px 0;
}

.container_super{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#loader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
    z-index: 20;
    transition: 1s ease-out;
    opacity: 1;
}

#loader.hidden {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
}

.loader_container{
    background: linear-gradient(120deg, #ff8064, #725bdc);
    height: min-content;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    border-radius: 20px;
    color: #000;
    gap: 15px;
    box-shadow: 0px 0px 15px 0px #ff80644d;
}

.loader_container h1{
    color: #000;
}

 h1 {
    font-size: 64px;
    color: #fff;
}

#palabra {
    font-size: 32px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

#letras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.letra {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 6px;
    border-radius: 4px;
    border: 1px solid #444;
    cursor: pointer;
    user-select: none;
}

.letra.usada {
    background: #ddd;
    color: #999;
    cursor: not-allowed;
}

#ahorcadoCanvas {
    border: 1px solid #111;
    border-radius: 10px;
    width: 160px;
}

.botones-locos{
    display: flex;
    gap: 15px;
}

#jugar {
    font-size: 18px;
    padding: 16px 28px;
    font-weight: 500;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: .3s;
}

.dificultad {
    font-size: 18px;
    padding: 16px 28px;
    font-weight: 500;
    background: #11111183;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: .3s;
}

.dificultad.seleccionado {
    background: transparent;
    outline: 3px solid #fff;
    box-shadow: 0 0 15px #fff;
    color: #fff;
}

.dificultad:hover{
    transform: scale(.95);
}

.dificultad.seleccionado:hover{
    transform: scale(1.05);
}

#jugar:hover {
    background: #111;
}

.vida {
    width: 30px;
    height: 25px;
    margin: 5px;
    display: inline-block;
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
}

.verde {
    background: #F50000;
}

.rojo {
    background: #000;
}

.container_letras{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: min(700px, 100%);
    width: 200px;
    text-align: center;
    border: 5px solid #725bdc;
}

.hidden {
    display: none;
}

#messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 400px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #725bdc;
}

#message {
    font-size: 24px;
    color: #000;
}

.botones {
    display: flex;
    gap: 15px;
}

#continueButton, #exitButton, #restartButton{
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

#messageContainer a button {
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;
    background: #725bdc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

#nombreJugador{
    outline: 0;
    padding: 10px 12px;
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: 500;
    margin-bottom: 5px;
}

#sumbitButton{
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 500;
    background: #344E41;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

#continueButton:disabled, #exitButton:disabled {
    background: #555;
    cursor: not-allowed;
}

#continueButton:hover:not(:disabled), #exitButton:hover:not(:disabled) {
    background: #111;
}

#tablaPosicionesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 15px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #725bdc;
}

#tablaPosiciones thead tr th{
    padding-right: 10px;
}

#dificultad{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.uepa{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    justify-content: center;
    margin: 15px 0;
    padding: 30px 0 30px 30px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

#dificultad li{
    margin: 15px 0;
}

#dificultad div img{
    height: 400px;
}

